<footer class="global-footer">
  <div class="container">
    <div class="flex gap-4 flex-col md:flex-row">
      <div class="text-2xl font-bold mx-16 text-center">Logomark</div>
      <div class="flex-grow">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="/">業務内容</a>
            </li>
            <li>
              <a href="/">業務内容</a>
            </li>
            <li>
              <a href="/">業務内容</a>
            </li>
            <li>
              <a href="/">業務内容</a>
            </li>
            <li>
              <a href="/">業務内容</a>
            </li>
            <li>
              <a href="/">業務内容</a>
            </li>
          </ul>
        </nav>

        <p class="text-xs">&copy; Logomark All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
