<header class="global-header">
  <div class="container h-full flex items-center gap-x-4">
    <div class="drawer-button" role="button" aria-expanded="false">
      <div class="drawer-button__bars">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="brand-logo">
      <a href="/">
        <span class="text-2xl font-bold">Logomark</span>
      </a>
    </div>
    <nav class="global-nav">
      <ul>
        <li>
          <a href="/">業務内容</a>
          <ul>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">業務内容</a>
          <ul>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/">業務内容</a>
          <ul>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
            <li>
              <a href="/sub">サブメニュー</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="flex justify-end items-center">ヘッダサイドカラム</div>
  </div>
</header>
