<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.origin }}" />
<meta property="twitter:card" content="summary" />
