.global-header {
  @apply h-16 bg-opacity-95 bg-white border-b border-gray-200;
}

.drawer-button {
  z-index: 3;
  @apply w-11 h-11 cursor-pointer text-center flex justify-center items-center  bg-gray-50;
  .drawer-button__bars {
    @apply relative w-6 h-4;
    span {
      @apply block absolute w-full bg-gray-600;
      height: 2px;
      transition: 0.3s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: calc(50% - 1px);
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
  }
  &[aria-expanded="true"] {
    span:nth-child(1) {
      /* opened */
      top: 50%;
      transform: rotate(-45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      top: 50%;
      transform: rotate(45deg);
    }
  }
}

/*
global-nav
*/

.global-nav {
  & > ul {
    @apply flex gap-x-2 items-center;
    & > li {
      @apply relative;
      &:hover {
        & > ul {
          @apply block;
        }
      }
      & > ul {
        @apply absolute left-0 px-4 py-3 bg-white border border-gray-200 rounded hidden;
        & > li {
          a {
            @apply whitespace-nowrap block p-2;
          }
        }
      }
    }
  }
  a {
    @apply px-4 py-3 text-black text-opacity-70 hover:text-opacity-100;
  }
}
