name: Release
on:
  workflow_dispatch:
    inputs:
      semver:
        description: next semantic version(s) value
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major
          - prerelease
          - prepatch
          - preminor
          - premajor
jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: "package.json"
          cache: "pnpm"
      - run: pnpm install
      - run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git branch --move release
          git push -f origin release
          pnpm versionup ${{ github.event.inputs.semver }} --yes
          git commit --all --message "chore(release): v$(cat lerna.json | jq -r .version)"
          git push origin release
          gh pr create --fill
        env:
          GH_TOKEN: ${{ github.token }}
      - if: ${{ failure() }}
        run: git push origin :release
