<header class="sticky top-0 bg-white mb-8 shadow">
  <div
    class="max-w-6xl mx-auto px-4 flex items-center justify-between md:justify-start gap-4 h-16"
  >
    <a class="flex-shrink-0" href="{{ '/' | url }}">{{ site.name }}</a>
    {% include 'partials/header_nav.njk' %}
  </div>
</header>
